*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;    
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
  }
    
    .desktop {
      display: block;
  }
  
  .mobile {
      display: none;
  }
  /* ------------------------------
            Regras Gerais
  ------------------------------ */
    
    html,
    body {
        width: 100%;
        height: 100%;
       
    }
    /* ----------------------------------------  HOME ---------------------------------------------*/

  /* ------------------------------
                Header
  ------------------------------ */
  header {
    width: 100%;
    height: 70%;
    background: white; 
  }

  .logo{
    padding-left: 440px;
    padding-top: 200px;
    font-size: 96px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #2C2F46;
  }

  a:link {
    color: #2C2F46;
  }

  a:visited {
    color: #2C2F46;
  }

  a:hover {
    color: #2C2F46;
  }

  a:active {
    color: #2C2F46;
  }
  /* ------------------------------
                Main
  ------------------------------ */  

main{
  width: 100%;
  height: 215px; 
  background: #939ABA;
}

h1{
  font-size: 24px;
  line-height: 58px;
  text-align: center;
  color: #2C2F46;
  padding-top: 140px;
}

/* ----------------------------------------  INDEX ---------------------------------------------*/

  /* ------------------------------
                Header
  ------------------------------ */

  .index header{
    width: 100%;
    height: 100%;
    background: #939ABA; 
  }

h2{
  font-size: 42px;
  line-height: 58px;
  text-align: center;
  background: #939ABA;
  color: white;
}

  /* ------------------------------
                Main
  ------------------------------ */
  .index main {
    width: 100%;
    height: 100%;
    background: #939ABA;
  }

  button{
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 25px;
    margin-left: 300px;
    font-size: 14px;
  }

  input{
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
  }  


  ul li {
    list-style-type: none;
    background: white;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    margin-left: 70px;
    text-align: center;
  }
 h3 {
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: white;
 }

 h3{
  position: absolute;
  width: 59px;
  height: 29px;
  float: left;
  padding-left: 1200px;
  top: 200px;
 }
  /* ------------------------------
                footer
  ------------------------------ */      
  footer {
    width: 100%;
    height: 61px;
    background: #2C2F46; 
    color: #939ABA;
    text-align: center;
  }

  